#!/bin/sh
. px4-alias.sh

param select parameters.bson
param import
param set SYS_AUTOCONFIG 0

# Hardware Config

# 1K + 4.7K
param set BAT1_V_DIV 5.7

# Sub
param set MAV_TYPE 12
param set SYS_AUTOSTART 60002

dataman start
load_mon start
battery_status start

# Peripherals

if ! mmc5983ma start -s -m 0 -R 4
then
	echo "mmc5983ma not found."
fi

if ! ak09916 start -I -R 6
then
	echo "AK09916 not found."
fi

if ! icm20602 start -s -m 0 -R 14
then
	echo "ICM20602 not found."
fi

if ! bmp280 start -I
then
	echo "bmp280 not found."
fi

if ! ads1115 start -I -N
then
	echo "ads1115 not found."
fi

if ! pca9685_pwm_out start -a 0x40 -b 4
then
	echo "pca9685_pwm_out not found."
fi

if ! neopixel start
then
	echo "neopixel not found."
fi

# RC input
rc_input start -d /dev/ttyAMA1
rc_update start

# Sensoring and core modules
sensors start
commander start
navigator start
ekf2 start
airspeed_selector start
flight_mode_manager start
control_allocator start

# Sub specific modules
sub_att_control start
sub_pos_control start

# Mavlink and logger
mavlink start -x -u 14556 -r 1000000 -p
#logger start -t -b 200

mavlink boot_complete
